@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.fitness{
    font-family: "Permanent Marker", cursive ;
  font-weight: 200;
  font-style: normal;
}

.lab{
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.signup{
  background-image: url("https://static.vecteezy.com/system/resources/previews/003/689/231/non_2x/online-registration-or-sign-up-login-for-account-on-smartphone-app-user-interface-with-secure-password-mobile-application-for-ui-web-banner-access-cartoon-people-illustration-vector.jpg");
  background-repeat: no-repeat;
  background-position:center;
  background-size: 75%;
  
}
.signin{
  background-image: url("https://static.vecteezy.com/system/resources/previews/003/689/222/non_2x/online-registration-or-sign-up-login-for-account-on-smartphone-app-user-interface-with-secure-password-mobile-application-for-ui-web-banner-access-cartoon-people-illustration-vector.jpg");
  background-repeat: no-repeat;
  background-position:center;
  background-size: 58%;
  
  
}
